.alerta{
			display:block;
			visibility:hidden;
			color:#b94a48;
			background-color: #f2dede;
			border-color:#ebccd1;
			width: 80%;
			margin-left:5%;
		}
#footer{
			width:auto;
			position: relative;
			margin-top: 150px; /* negative value of footer height */
			
			clear:both; 
}

#footer>.container{
	background-color: #e7e7e7;
}
.text-center{
			text-align: center;
}
.a-footer{
		color:#777;
		size:10px;
}
.input-largo{
		margin-left:5%;
		width: 80%;
}
.label-largo{
	margin-left:5%;
}

#form-login>input{
	margin-bottom: 5px;
	width: 100%;
}
/*Validacion registro de usuario(error). Con jquery validate*/
.error{
	margin-left: 5%;
	color:red;
	border-color: red;
	}