.alerta{
			display:block;
			visibility:hidden;
			color:#b94a48;
			background-color: #f2dede;
			border-color:#ebccd1;
			width: 80%;
			margin-left:5%;
		}
#footer{
			width:auto;
			position: relative;
			margin-top: 150px; /* negative value of footer height */
			
			clear:both; 
}

#footer>.container{
	background-color: #e7e7e7;
}
.asd>a{
	pointer-events:all;
}
.text-center{
			text-align: center;
}
.a-footer{
		color:#777;
		size:10px;
}
.input-largo{
		margin-left:5%;
		width: 80%;
}
.label-largo{
	margin-left:5%;
}

#form-login>input{
	margin-bottom: 5px;
	width: 100%;
}
/*Validacion registro de usuario(error). Con jquery validate*/
.error{
	margin-left: 5%;
	color:red;
	border-color: red;
	}

img.portada{
	width:100%;
	z-index: 0;
}

h4.nombreDePublicacion{
	margin-top: 2%;
	text-align: center;
}
.borderText{
	border-radius: 10px;
    border-style: double;
    border-color: rgba(128, 128, 128, 0.23);
    overflow: hidden;
}
.separador{
	margin-top:2%;
	background-color:rgba(128,128,128,0.23);
}
/*estilo para el div que muestra detalles de la publicacion*/
.descripcion{
	visibility: hidden;
	position: absolute;
	z-index: 50;
	top: 50%;
	left: 0px;
    color: rgb(255,255,255);
    width: 100%;
    height: 50%;
    background-color: rgba(0,0,0,0.7);
}

.descripcion a{
	color: rgb(255,255,255);
}

.descripcion a:hover{
	color: rgb(255,255,255);
	text-decoration: none;
}

#contenedorDeRevistas .row,#contenedorDeDiarios .row{
	margin-bottom: 15px;
}
 /* MODAL PUBLICACION */

 .modalPublicacion{
 	width: 70%;
 }
 img.imgModal{
 	margin:2%;
 	width: 95%;
 	z-index: 0;
 }
 .mitadModal{
 	width: 40%;
 	clear: none;
 	float: left;
 }
 .modal-body2{
 	width: 100%;
 	position:absolute;
 	background-color: white;
 }
 .tituloModalPubli{
 	font-weight: bold;
 	text-align: center;
 	font-size: 24px;
 }
 .descripcionModalPubli{
 	color: rgba(193, 192, 192, 0.94);
    font-size: 14px;
    font-weight: 400;

 }
 .derecha{
 	text-align: right;
 }
 /* CSS ARTICULO */
 .tituloArt{
 	font-family: 'Alegreya Sans SC', sans-serif;
 }